/* styles.css */

/* Базовые стили для CodeArea */
.code-area {
    -fx-background-color: white;
}

/* Стили для подсветки тегов в Plain Text режиме */
.tag {
    -fx-fill: #d32f2f;
    -fx-font-weight: bold;
    -fx-background-color: #ffebee;
    -fx-background-radius: 2px;
}

.status-bar {
    -fx-pref-height: 30 !important;
}

.status-bar > .left-items,
.status-bar > .right-items {
    -fx-alignment: center !important;
}

.status-bar .left-items,
.status-bar .right-items {
    -fx-spacing: 5px !important;
}

.page-separator {
    -fx-fill: #808080;
    -fx-font-size: 10;
}