/* styles.css */

/* Базовые стили для CodeArea */
.code-area {
    -fx-background-color: white;
    -fx-font-family: 'Monospaced';
    -fx-font-size: 12px;
}

/* Стили для подсветки тегов в Plain Text режиме */
.tag {
    -fx-fill: #d32f2f;
    -fx-font-weight: bold;
    -fx-background-color: #ffebee;
    -fx-background-radius: 2px;
}

/* Стили для номеров строк */
.lineno {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #666;
    -fx-padding: 0 5 0 5;
    -fx-border-color: #ccc;
    -fx-border-width: 0 1 0 0;
}

/*StatusBar*/
.status-bar {
    -fx-pref-height: -fx-height-of-toolbar !important;
}

.status-bar > .left-items,
.status-bar > .right-items {
    -fx-alignment: center !important;
}

.status-bar .left-items,
.status-bar .right-items {
    -fx-spacing: 5px !important;
}